#container { position: absolute }
#footer { position: relative }
#flash-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
